@font-face {
  font-family: "iconfont"; /* Project id 4532645 */
  src: url("iconfont.woff2?t=1716281523645") format("woff2"),
    url("iconfont.woff?t=1716281523645") format("woff"),
    url("iconfont.ttf?t=1716281523645") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enter:before {
  content: "\e659";
}

.icon-RSS:before {
  content: "\e794";
}

.icon-3D:before {
  content: "\e768";
}

.icon-Activity:before {
  content: "\e769";
}

.icon-Dashboard:before {
  content: "\e76a";
}

.icon-Clock:before {
  content: "\e76b";
}

.icon-Category:before {
  content: "\e76c";
}

.icon-Inbox:before {
  content: "\e76d";
}

.icon-Location:before {
  content: "\e76e";
}

.icon-Chart:before {
  content: "\e76f";
}

.icon-Comment:before {
  content: "\e770";
}

.icon-Moon:before {
  content: "\e771";
}

.icon-Archive:before {
  content: "\e772";
}

.icon-Notification:before {
  content: "\e773";
}

.icon-Cloud:before {
  content: "\e774";
}

.icon-Invoice:before {
  content: "\e775";
}

.icon-Bag:before {
  content: "\e776";
}

.icon-Desktop:before {
  content: "\e777";
}

.icon-Series:before {
  content: "\e778";
}

.icon-Plus:before {
  content: "\e779";
}

.icon-Calendar:before {
  content: "\e77a";
}

.icon-Heart:before {
  content: "\e77b";
}

.icon-Download:before {
  content: "\e77c";
}

.icon-Send:before {
  content: "\e77d";
}

.icon-Attachment:before {
  content: "\e77e";
}

.icon-File:before {
  content: "\e77f";
}

.icon-Copy:before {
  content: "\e780";
}

.icon-Search:before {
  content: "\e781";
}

.icon-Setting:before {
  content: "\e782";
}

.icon-Negative:before {
  content: "\e783";
}

.icon-Lock:before {
  content: "\e784";
}

.icon-Phone:before {
  content: "\e785";
}

.icon-Home:before {
  content: "\e786";
}

.icon-Statistics:before {
  content: "\e787";
}

.icon-Message:before {
  content: "\e788";
}

.icon-Education:before {
  content: "\e789";
}

.icon-Tags:before {
  content: "\e78a";
}

.icon-Profile:before {
  content: "\e78b";
}

.icon-Headphone:before {
  content: "\e78c";
}

.icon-Sun:before {
  content: "\e78d";
}

.icon-Pen:before {
  content: "\e78e";
}

.icon-Share:before {
  content: "\e78f";
}

.icon-Wallet:before {
  content: "\e790";
}

.icon-Microphone:before {
  content: "\e791";
}

.icon-Trash:before {
  content: "\e792";
}

.icon-Star:before {
  content: "\e793";
}
